# Module 2: Code Exercise

* DS 5001: Exploratory Text Analytics
* Raf Alvarado

# Set Up

In [10]:
import pandas as pd

In [11]:
import requests

In [14]:
url = 'http://www.gutenberg.org/cache/epub/161/pg161.txt'
r = requests.get(url)
with open('pg161.txt', 'w', encoding='utf-8-sig') as infile:
    infile.write(r.text)

In [15]:
# epub_file = "../MOD01--SetUp/pg105.txt"
epub_file = "pg161.txt"
OHCO = ['chap_num', 'para_num', 'sent_num', 'token_num']

# Import file into a dataframe

In [16]:
epub = open(epub_file, 'r', encoding='utf-8-sig').readlines()

In [17]:
df = pd.DataFrame(epub, columns=['line_str'])

In [18]:
df.index.name = 'line_num'

In [19]:
df.line_str = df.line_str.str.strip()

In [20]:
df.sample(10)

                                                   line_str
line_num
566                                     taste for drawing."
6200      it be told as soon as possible.  My feelings a...
11394     borrow of Colonel Brandon.  By reading only si...
3156
9878      have been beyond comparison,' she said, 'the l...
3925
2065                    What a blow upon them all was this!
11182     made me acquainted with his earnest, tender, c...
9529      knowing her to be acquainted with it; which, w...
6648      endure it.  Her heart was hardened against the...

# Extract title of work from first line

In [21]:
title = df.loc[0].line_str.replace('The Project Gutenberg EBook of ', '')
df['title'] = title

In [22]:
print(title)

﻿Sense and Sensibility, by Jane Austen

In [23]:
df.head()

,line_str,title
line_num,,
0,﻿The Project Gutenberg EBook of Sense and Sens...,"﻿Sense and Sensibility, by Jane Austen"
1,,"﻿Sense and Sensibility, by Jane Austen"
2,This eBook is for the use of anyone anywhere a...,"﻿Sense and Sensibility, by Jane Austen"
3,almost no restrictions whatsoever. You may co...,"﻿Sense and Sensibility, by Jane Austen"
4,re-use it under the terms of the Project Guten...,"﻿Sense and Sensibility, by Jane Austen"

# Remove Gutenberg's front and back matter

In [24]:
a = df.line_str.str.match(r"\*\*\*\s*START OF (THE|THIS) PROJECT")
b = df.line_str.str.match(r"\*\*\*\s*END OF (THE|THIS) PROJECT")

In [25]:
an = df.loc[a].index[0]
bn = df.loc[b].index[0]

In [26]:
df = df.loc[an + 1 : bn - 2]

In [27]:
df

,line_str,title
line_num,,
19,,"﻿Sense and Sensibility, by Jane Austen"
20,Special thanks are due to Sharon Partridge for...,"﻿Sense and Sensibility, by Jane Austen"
21,proofreading and correction of this etext.,"﻿Sense and Sensibility, by Jane Austen"
22,,"﻿Sense and Sensibility, by Jane Austen"
23,,"﻿Sense and Sensibility, by Jane Austen"
24,,"﻿Sense and Sensibility, by Jane Austen"
25,,"﻿Sense and Sensibility, by Jane Austen"
26,,"﻿Sense and Sensibility, by Jane Austen"
27,,"﻿Sense and Sensibility, by Jane Austen"
28,,"﻿Sense and Sensibility, by Jane Austen"
29,,"﻿Sense and Sensibility, by Jane Austen"
30,,"﻿Sense and Sensibility, by Jane Austen"
31,,"﻿Sense and Sensibility, by Jane Austen"
32,,"﻿Sense and Sensibility, by Jane Austen"
33,SENSE AND SENSIBILITY,"﻿Sense and Sensibility, by Jane Austen"
34,,"﻿Sense and Sensibility, by Jane Austen"
35,by Jane Austen,"﻿Sense and Sensibility, by Jane Austen"
36,,"﻿Sense and Sensibility, by Jane Austen"
37,(1811),"﻿Sense and Sensibility, by Jane Austen"
38,,"﻿Sense and Sensibility, by Jane Austen"
39,,"﻿Sense and Sensibility, by Jane Austen"
40,,"﻿Sense and Sensibility, by Jane Austen"
41,,"﻿Sense and Sensibility, by Jane Austen"
42,CHAPTER 1,"﻿Sense and Sensibility, by Jane Austen"
43,,"﻿Sense and Sensibility, by Jane Austen"
44,,"﻿Sense and Sensibility, by Jane Austen"
45,The family of Dashwood had long been settled i...,"﻿Sense and Sensibility, by Jane Austen"
46,"was large, and their residence was at Norland ...","﻿Sense and Sensibility, by Jane Austen"
47,"their property, where, for many generations, t...","﻿Sense and Sensibility, by Jane Austen"
48,respectable a manner as to engage the general ...,"﻿Sense and Sensibility, by Jane Austen"
...,...,...
12637,"every thing that befell her, and made her his ...","﻿Sense and Sensibility, by Jane Austen"
12638,perfection in woman;--and many a rising beauty...,"﻿Sense and Sensibility, by Jane Austen"
12639,in after-days as bearing no comparison with Mr...,"﻿Sense and Sensibility, by Jane Austen"
12640,,"﻿Sense and Sensibility, by Jane Austen"
12641,Mrs. Dashwood was prudent enough to remain at ...,"﻿Sense and Sensibility, by Jane Austen"
12642,attempting a removal to Delaford; and fortunat...,"﻿Sense and Sensibility, by Jane Austen"
12643,"Jennings, when Marianne was taken from them, M...","﻿Sense and Sensibility, by Jane Austen"
12644,"age highly suitable for dancing, and not very ...","﻿Sense and Sensibility, by Jane Austen"
12645,supposed to have a lover.,"﻿Sense and Sensibility, by Jane Austen"
12646,,"﻿Sense and Sensibility, by Jane Austen"
12647,"Between Barton and Delaford, there was that co...","﻿Sense and Sensibility, by Jane Austen"
12648,which strong family affection would naturally ...,"﻿Sense and Sensibility, by Jane Austen"
12649,merits and the happiness of Elinor and Mariann...,"﻿Sense and Sensibility, by Jane Austen"
12650,"as the least considerable, that though sisters...","﻿Sense and Sensibility, by Jane Austen"
12651,"within sight of each other, they could live wi...","﻿Sense and Sensibility, by Jane Austen"
12652,"between themselves, or producing coolness betw...","﻿Sense and Sensibility, by Jane Austen"
12653,,"﻿Sense and Sensibility, by Jane Austen"
12654,,"﻿Sense and Sensibility, by Jane Austen"
12655,,"﻿Sense and Sensibility, by Jane Austen"
12656,THE END,"﻿Sense and Sensibility, by Jane Austen"
12657,,"﻿Sense and Sensibility, by Jane Austen"
12658,,"﻿Sense and Sensibility, by Jane Austen"
12659,,"﻿Sense and Sensibility, by Jane Austen"
12660,,"﻿Sense and Sensibility, by Jane Austen"
12661,,"﻿Sense and Sensibility, by Jane Austen"
12662,,"﻿Sense and Sensibility, by Jane Austen"
12663,,"﻿Sense and Sensibility, by Jane Austen"
12664,,"﻿Sense and Sensibility, by Jane Austen"
12665,,"﻿Sense and Sensibility, by Jane Austen"
12666,End of the Project Gutenberg EBook of Sense an...,"﻿Sense and Sensibility, by Jane Austen"

# Chunk by chapter

## Find all chapter headers

In [28]:
chap_lines = df.line_str.str.match(r"^\s*(chapter|letter)\s+(\d+)", case=False)

In [29]:
df.loc[chap_lines]

            line_str                                   title
line_num
42         CHAPTER 1  ﻿Sense and Sensibility, by Jane Austen
196        CHAPTER 2  ﻿Sense and Sensibility, by Jane Austen
399        CHAPTER 3  ﻿Sense and Sensibility, by Jane Austen
562        CHAPTER 4  ﻿Sense and Sensibility, by Jane Austen
757        CHAPTER 5  ﻿Sense and Sensibility, by Jane Austen
859        CHAPTER 6  ﻿Sense and Sensibility, by Jane Austen
987        CHAPTER 7  ﻿Sense and Sensibility, by Jane Austen
1113       CHAPTER 8  ﻿Sense and Sensibility, by Jane Austen
1245       CHAPTER 9  ﻿Sense and Sensibility, by Jane Austen
1449      CHAPTER 10  ﻿Sense and Sensibility, by Jane Austen
1666      CHAPTER 11  ﻿Sense and Sensibility, by Jane Austen
1817      CHAPTER 12  ﻿Sense and Sensibility, by Jane Austen
1998      CHAPTER 13  ﻿Sense and Sensibility, by Jane Austen
2282      CHAPTER 14  ﻿Sense and Sensibility, by Jane Austen
2441      CHAPTER 15  ﻿Sense and Sensibility, by Jane Austen
2719      CHAPTER 16  ﻿Sense and Sensibility, by Jane Austen
2946      CHAPTER 17  ﻿Sense and Sensibility, by Jane Austen
3154      CHAPTER 18  ﻿Sense and Sensibility, by Jane Austen
3332      CHAPTER 19  ﻿Sense and Sensibility, by Jane Austen
3633      CHAPTER 20  ﻿Sense and Sensibility, by Jane Austen
3914      CHAPTER 21  ﻿Sense and Sensibility, by Jane Austen
4215      CHAPTER 22  ﻿Sense and Sensibility, by Jane Austen
4533      CHAPTER 23  ﻿Sense and Sensibility, by Jane Austen
4768      CHAPTER 24  ﻿Sense and Sensibility, by Jane Austen
5002      CHAPTER 25  ﻿Sense and Sensibility, by Jane Austen
5198      CHAPTER 26  ﻿Sense and Sensibility, by Jane Austen
5455      CHAPTER 27  ﻿Sense and Sensibility, by Jane Austen
5733      CHAPTER 28  ﻿Sense and Sensibility, by Jane Austen
5884      CHAPTER 29  ﻿Sense and Sensibility, by Jane Austen
6325      CHAPTER 30  ﻿Sense and Sensibility, by Jane Austen
6629      CHAPTER 31  ﻿Sense and Sensibility, by Jane Austen
7005      CHAPTER 32  ﻿Sense and Sensibility, by Jane Austen
7279      CHAPTER 33  ﻿Sense and Sensibility, by Jane Austen
7602      CHAPTER 34  ﻿Sense and Sensibility, by Jane Austen
7889      CHAPTER 35  ﻿Sense and Sensibility, by Jane Austen
8153      CHAPTER 36  ﻿Sense and Sensibility, by Jane Austen
8457      CHAPTER 37  ﻿Sense and Sensibility, by Jane Austen
8901      CHAPTER 38  ﻿Sense and Sensibility, by Jane Austen
9206      CHAPTER 39  ﻿Sense and Sensibility, by Jane Austen
9409      CHAPTER 40  ﻿Sense and Sensibility, by Jane Austen
9707      CHAPTER 41  ﻿Sense and Sensibility, by Jane Austen
9978      CHAPTER 42  ﻿Sense and Sensibility, by Jane Austen
10156     CHAPTER 43  ﻿Sense and Sensibility, by Jane Austen
10491     CHAPTER 44  ﻿Sense and Sensibility, by Jane Austen
11061     CHAPTER 45  ﻿Sense and Sensibility, by Jane Austen
11279     CHAPTER 46  ﻿Sense and Sensibility, by Jane Austen
11572     CHAPTER 47  ﻿Sense and Sensibility, by Jane Austen
11839     CHAPTER 48  ﻿Sense and Sensibility, by Jane Austen
11987     CHAPTER 49  ﻿Sense and Sensibility, by Jane Austen
12411     CHAPTER 50  ﻿Sense and Sensibility, by Jane Austen

## Assign numbers to chapters

In [30]:
chap_nums = [i+1 for i in range(df.loc[chap_lines].shape[0])]

In [31]:
df.loc[chap_lines, 'chap_num'] = chap_nums

In [32]:
# df

## Forward-fill chapter numbers to following text lines

In [33]:
df.chap_num = df.chap_num.ffill()

In [34]:
# df.head(100)

## Clean up

In [35]:
df = df.loc[~df.chap_num.isna()] # Remove chapter heading lines
df = df.loc[~chap_lines] # Remove everything before Chapter 1
df.chap_num = df.chap_num.astype('int') # Convert chap_num from float to int

In [36]:
df.sample(10)

,line_str,title,chap_num
line_num,,,
4663,Middleton's head; and therefore very little le...,"﻿Sense and Sensibility, by Jane Austen",23
6632,From a night of more sleep than she had expect...,"﻿Sense and Sensibility, by Jane Austen",31
3823,besides it is such a way off. I know why you ...,"﻿Sense and Sensibility, by Jane Austen",20
8069,,"﻿Sense and Sensibility, by Jane Austen",35
7954,,"﻿Sense and Sensibility, by Jane Austen",35
7593,"visiting HER, which, to say the truth, has bee...","﻿Sense and Sensibility, by Jane Austen",33
9013,"out, how he had been sent for Wednesday to Har...","﻿Sense and Sensibility, by Jane Austen",38
11915,"Mrs. Dashwood, however, conforming, as she tru...","﻿Sense and Sensibility, by Jane Austen",48
7846,,"﻿Sense and Sensibility, by Jane Austen",34
7383,"sisters to see her. His manners to THEM, thou...","﻿Sense and Sensibility, by Jane Austen",33

## Group by chapter num and reset dataframe

In [37]:
df = df.groupby(OHCO[:1]).line_str.apply(lambda x: '\n'.join(x)).to_frame() # Make big string

In [38]:
df.head()

                                                   line_str
chap_num
1         \n\nThe family of Dashwood had long been settl...
2         \n\nMrs. John Dashwood now installed herself m...
3         \n\nMrs. Dashwood remained at Norland several ...
4         \n\n"What a pity it is, Elinor," said Marianne...
5         \n\nNo sooner was her answer dispatched, than ...

# Split into paragraphs

In [39]:
df = df['line_str'].str.split(r'\n\n+', expand=True).stack()\
    .to_frame().rename(columns={0:'para_str'})

In [40]:
df.head()

                                                     para_str
chap_num
1        0
         1  The family of Dashwood had long been settled i...
         2  By a former marriage, Mr. Henry Dashwood had o...
         3  The old gentleman died: his will was read, and...
         4  Mr. Dashwood's disappointment was, at first, s...

In [41]:
df.index.names = OHCO[:2]

In [42]:
df.head()

                                                            para_str
chap_num para_num
1        0
         1         The family of Dashwood had long been settled i...
         2         By a former marriage, Mr. Henry Dashwood had o...
         3         The old gentleman died: his will was read, and...
         4         Mr. Dashwood's disappointment was, at first, s...

In [43]:
df['para_str'] = df['para_str'].str.replace(r'\n', ' ').str.strip()
df = df[~df['para_str'].str.match(r'^\s*$')] # Remove empty paragraphs

In [44]:
df.head()

                                                            para_str
chap_num para_num
1        1         The family of Dashwood had long been settled i...
         2         By a former marriage, Mr. Henry Dashwood had o...
         3         The old gentleman died: his will was read, and...
         4         Mr. Dashwood's disappointment was, at first, s...
         5         His son was sent for as soon as his danger was...

# Split into sentences

In [45]:
df = df['para_str'].str.split(r'[.?!;]', expand=True).stack()\
    .to_frame().rename(columns={0:'sent_str'})

In [46]:
df.index.names = OHCO[:3]

In [47]:
df = df[~df['sent_str'].str.match(r'^\s*$')] # Remove empty paragraphs

In [48]:
df.head()

                                                                     sent_str
chap_num para_num sent_num
1        1        0         The family of Dashwood had long been settled i...
                  1           Their estate was large, and their residence ...
                  2           The late owner of this estate was a single m...
                  3           But her death, which happened ten years befo...
                  4          for to supply her loss, he invited and receiv...

# Split into tokens

In [49]:
df = df['sent_str'].str.split(r'\s+', expand=True).stack()\
    .to_frame().rename(columns={0:'token_str'})

In [50]:
df.index.names = OHCO[:4]

In [51]:
df

                                         token_str
chap_num para_num sent_num token_num
1        1        0        0                   The
                           1                family
                           2                    of
                           3              Dashwood
                           4                   had
                           5                  long
                           6                  been
                           7               settled
                           8                    in
                           9                Sussex
                  1        0
                           1                 Their
                           2                estate
                           3                   was
                           4                large,
                           5                   and
                           6                 their
                           7             residence
                           8                   was
                           9                    at
                           10              Norland
                           11                Park,
                           12                   in
                           13                  the
                           14               centre
                           15                   of
                           16                their
                           17            property,
                           18               where,
                           19                  for
...                                            ...
50       21       1        29                 each
                           30               other,
                           31                 they
                           32                could
                           33                 live
                           34              without
                           35         disagreement
                           36              between
                           37          themselves,
                           38                   or
                           39            producing
                           40             coolness
                           41              between
                           42                their
                           43             husbands
         22       0        0                   THE
                           1                   END
         23       0        0                   End
                           1                    of
                           2                   the
                           3               Project
                           4             Gutenberg
                           5                 EBook
                           6                    of
                           7                 Sense
                           8                   and
                           9          Sensibility,
                           10                   by
                           11                 Jane
                           12               Austen

[125196 rows x 1 columns]